<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetVetericano">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCtPVqczwiHVBIaN-50KZsPLpzF1gdsSlo" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bienvenida"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".adopcion"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".confirmar_reporte"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".editar_perfil"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".inicio_sesion"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".inicio_bienvenida"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".registro"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".reportar_peticion"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".reportar_peticionn"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".reportar_peticionnn"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".reporte_enviado"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".voluntariado"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>